body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; 
    line-height: 1.6;
}

header {
    background: linear-gradient(to right, #007bff, #0056b3); /* Gradasi pada header */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header .logo img {
    width: 100px;
    border-radius: 50%;
    transition: transform 0.3s;
}
header .logo img:hover{
    transform:scale(1.1);
}

h1 {
    margin: 0;
    font-size: 28px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffdd57;
}

main {
    max-width: 900px; 
    margin: 40px auto; 
    padding: 20px;
    background: white; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

h2 {
    text-align: center;
    color: #343a40; 
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;
}

th, td {
    padding: 10px; 
    text-align: left; 
    border: 1px solid #dee2e6; 
}

th {
    background-color: #007bff; 
    color: white; 
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

tbody tr:hover {
    background-color: #e9ecef; 
}

footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #007bff, #0056b3);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}
